#main {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

#user_name {
  color: white;
  padding-right: 15px;
}

#animal_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

#animal_line {
  padding: 10px;
}

#line_header {
  display: flex;
  justify-content: space-around;
}

#animal-card {
  display: flex;
  justify-content: space-around;
}

#animals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-animal {
  align-self: stretch;
  margin: 50px;
}

#animals-img {
  height: 500px;
}

#animal-disp {
  margin: 25px;
}

#animal-search {
  border-style: solid;
  padding: 10px;
  border-color: gray;
  border-radius: 5px;
}

#animal-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  width: 1250px;
}

#client-disp {
  margin: 25px;
}

#clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

