#main {
  margin-top:100px
}

html {
  height: 100%;
  padding: 0;
  margin:0;
  
}

body {
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 0;
  margin:0;
}

#user_name {
  color: white;
}


