#main {
  padding-top: 60px;
}

#user_name {
  color: white;
}

#animal_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#animal_line {
  padding: 10px;
}

#line_header {
  display: flex;
  justify-content: space-around;
}